@font-face {
  font-family: pac;
  src: url(/fonts/PAC-FONT.TTF);
}

.game-title {
  font-family: pac;
  font-size: 82px;
  text-shadow: 0 0.5rem 1rem rgba(240, 4, 4, 0.37);
}

.game-title-small {
  font-size: 16px;
}

span {
  background-color: rgb(213, 213, 213);
  display: inline-block;
  line-height: 1.7;
  font-weight: bold;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin: 6px;
  cursor: pointer;
  transition: all 0.225s;
  box-shadow: 0 0.2rem 0.8rem rgba(105, 105, 105, 0.53);
}

.selected {
  background-color: #dc3545;
  color: #fff;
  cursor: not-allowed;
  box-shadow: 0 0.5rem 1rem rgba(240, 4, 4, 0.37);
}

.selected:hover {
  background-color: #dc3545;
  box-shadow: 0 0.5rem 1rem rgba(240, 4, 4, 0.37);
  border-color: none;
  transform: translate(0, 0);
}

span:hover {
  background-color: rgb(200, 200, 200);
  box-shadow: 0 0.5rem 1.2rem rgba(85, 79, 79, 0.53);
  border-color: rgba(56, 53, 53, 0.63);
  transform: translate(0, -2px);
}

.container {
  padding: 80px;
}

.row {
  margin-bottom: 40px;
}

.player-btn {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem rgba(201, 16, 16, 0.37);
}
.player-btn:hover {
  color: #fff;
  background-color: #ff4e5f;
  border-color: #ff8793;
  transform: translate(0, -4px);
  box-shadow: 0 0.8rem 1.5rem rgba(201, 16, 16, 0.27);
}

.player-btn:focus {
  background-color: #dc3545;
  border-color: #dc3545;
  box-shadow: 0 0.5rem 1rem rgba(201, 16, 16, 0.37);
}

.player-btn:active {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.player-btn svg {
  transition: all 0.6s;
}

.player-btn:hover svg {
  transform: translate(2px, -1px);
  box-shadow: 0 0.2rem 1rem rgba(180, 180, 180, 0.33);
}

.footer a {
  color: #000;
  text-decoration: none;
}
